body{
    background-color:black;
    color: mintcream;
}

header{
    margin-top: 100px;
}
canvas{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 1px #33FF00 solid;
}


