body{
    background-color:#0b0012;
    color: mintcream;
}

canvas{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height:600px;
    border: 1px #33FF00 solid;
}


